<div class="bg-slack-dark h-12 w-full flex items-center space-between">
    <div class="m-auto flex flex-row items-center">
        <fa-icon class="text-white text-sm mx-2" [icon]="faArrowLeft"></fa-icon>
        <fa-icon class="text-white text-sm mx-2" [icon]="faArrowRight"></fa-icon>
        <fa-icon class="text-white text-sm mx-2" [icon]="faClock"></fa-icon>
        <div class="w-96 h-8 bg-slack-medium flex items-center justify-between border-2 border-slack-light rounded-md">
            <p class="text-white p-2 text-sm">Search dyte</p>
            <div class="">
                <fa-icon class="text-white text-sm mx-2" [icon]="faSliders"></fa-icon>
                <fa-icon class="text-white text-sm mx-2" [icon]="faMagnifyingGlass"></fa-icon>
            </div>
        </div>
    </div>
    <fa-icon class="text-white text-md mx-2" [icon]="faCircleQuestion"></fa-icon>
    <div class="bg-dp-image bg-no-repeat bg-cover w-8 h-8 rounded-sm flex justify-end items-end mr-4">
        <div
            class="online bg-green-800 border-slack-dark border-4 w-4 h-4 rounded-lg relative bottom-[-7px] right-[-7px]">
        </div>
    </div>
</div>