<div class="w-64 border-2 border-slack-light h-screen bg-slack-medium">
    <div class="border-b-slack-light border-b-2 pl-4 p-2 text-gray-200">
        dyte
        <fa-icon class="text-white text-sm mx-1" [icon]="faAngleDown"></fa-icon>
    </div>
    <!-- TODO: Maybe make each of these a component and just pass the icon and the text -->
    <div class="border-b-slack-light border-b-2 text-sm">
        <div class="px-2 my-2 text-gray-200">
            <fa-icon class="mx-1" [icon]="faComment"></fa-icon>
            Threads
        </div>
        <div class="px-2 my-2 text-gray-200">
            <fa-icon class="mx-1" [icon]="faComments"></fa-icon>
            Direct Messages
        </div>
        <div class="px-2 my-2 text-gray-200">
            <fa-icon class="mx-1" [icon]="faAt"></fa-icon>
            Mentions & Reactions
        </div>
        <div class="px-2 my-2 text-gray-200">
            <fa-icon class="mx-1" [icon]="faPencil"></fa-icon>
            Drafts
        </div>
        <div class="px-2 my-2 text-gray-200">
            <fa-icon class="mx-1" [icon]="faBuilding"></fa-icon>
            Slack Connect
        </div>
        <div class="px-2 my-2 text-gray-200">
            <fa-icon class="mx-1" [icon]="faEllipsisVertical"></fa-icon>
            More
        </div>
    </div>
    <div class="text-sm">
        <div class="px-2 my-2 text-gray-200">
            <fa-icon class="mx-1" [icon]="faCaretDown"></fa-icon>
            Channels
        </div>
        <div>
            <div class="px-2 my-2 text-gray-200">
                <fa-icon class="mx-1" [icon]="faHashtag"></fa-icon>
                general
            </div>
            <div class="px-2 my-2 text-gray-200">
                <fa-icon class="mx-1" [icon]="faHashtag"></fa-icon>
                daily-updates
            </div>
            <div class="px-2 my-2 text-gray-200 font-bold">
                <fa-icon class="mx-1" [icon]="faHashtag"></fa-icon>
                deployment
            </div>
            <div class="px-2 my-2 text-gray-200">
                <fa-icon class="mx-1" [icon]="faHashtag"></fa-icon>
                random
            </div>
            <div class="px-2 my-2 text-gray-200">
                <fa-icon class="mx-1 bg-slack-dark p-1 rounded-sm" [icon]="faPlus"></fa-icon>
                Add Channel
            </div>
        </div>
    </div>
    <div class="text-sm mt-8">
        <div class="px-2 my-2 text-gray-200">
            <fa-icon class="mx-1" [icon]="faCaretDown"></fa-icon>
            Direct messages
        </div>
        <div>
            <div class="px-2 my-2 text-gray-200 flex flex-row ">
                <div class="bg-dp-image bg-no-repeat bg-cover w-4 h-4 rounded-sm flex justify-end items-end mr-4">
                    <div
                        class="online bg-green-800 border-slack-dark border-[1px] w-2 h-2 rounded-lg relative bottom-[-3px] right-[-3px]">
                    </div>
                </div>
                Jack Carlsen
            </div>
            <div class="px-2 my-2 text-gray-200 flex flex-row ">
                <div class="bg-dp-image bg-no-repeat bg-cover w-4 h-4 rounded-sm flex justify-end items-end mr-4">
                    <div
                        class="online bg-green-800 border-slack-dark border-[1px] w-2 h-2 rounded-lg relative bottom-[-3px] right-[-3px]">
                    </div>
                </div>
                Selena Wright
            </div>
            <div class="px-2 my-2 text-gray-200">
                <fa-icon class="mx-1 bg-slack-dark p-1 rounded-sm" [icon]="faPlus"></fa-icon>
                Add teammates
            </div>
        </div>
    </div>
    <div
        class="border-t-slack-light border-t-2 pl-4 p-2 text-gray-200 w-64 absolute bottom-0 left-0 flex flex-row justify-between">
        <div>
            <fa-icon class="text-white text-sm mx-1" [icon]="faTowerBroadcast"></fa-icon>
            Huddle
        </div>
        <div>
            <label class="switch">
                <input type="checkbox" (change)="onSliderChange($event)">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>